@charset "UFT-08";
@font-face {
    font-family: milk;
    src: url(fonts/Milker.otf) format("opentype");
}
/*
HTML = id em CSS = # 
HTML = class em CSS = .
*/
body{
    background-color: rgb(188, 238, 188);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(7, 114, 7);
    font-family: 'milk', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1#principal{
    text-align: center;
    background-color: rgb(7, 114, 7);
    color: white;
    font-weight: normal;
    font-family: 'milk', Arial, Helvetica, sans-serif;
}
h2{
    font-family: 'milk', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:rgb(52, 80, 52)
}
.basico{
    color: green;
    font-weight: bold;
}
.intermediario{
    color: rgb(129, 129, 2);
    font-weight: bold;
}
.avançado{
    color: red;
    font-weight: bold;
}