@charset "UTF-8";

body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: crimson;
    background-color: rgb(15, 15, 15);    
}
h2{
    color: chocolate;
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
     
}