body{
    background-color: rgb(32, 32, 32);
    color: white;
    font: normal 20pt Arial;
}
.caneda{
    float: left;
    padding-left: 28%;    
}
.visibilidade{
    float: left;
    padding-left: 0.6%;
}
.viagem{
    float: left;
    padding-left: 28%;
}
.void{
    float: left;
    padding-left: 0.6%;
}
.videos{
    flex-wrap: wrap;
}